#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.homepage-button {
  transition: all 0.3s ease;
}

.homepage-button:hover {
  background: #ff3333;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(255, 0, 0, 0.4);
  cursor: pointer;
}
